{{define "title"}}Fernando Vaca Tamayo{{end}}
{{define "content"}}
<nav class="navbar navbar--home">
    <div class="navbar__container">
        <a class="navbar__link-icon" href="/">
            <img src="/static/icon.svg" alt="Icon" width="30" height="30"/>
        </a>

        <ul class="navbar__link-list">
            <li class="navbar__link-item">
                <a href="/">Home</a>
            </li>

            <li class="navbar__link-item">
                <a href="/blog">Blog</a>
            </li>

            <li class="navbar__link-item">
                <a href="/projects">Projects</a>
            </li>
        </ul>
    </div>
</nav>
<header class="home-header">
    <h1 class="home-header__full-name">Fernando Vaca Tamayo</h1>
    <hr class="home-header__separator"/>

    <p class="home-header__description">
        Hi, I'm a Javascript full stack developer.
        I like video games, anime, music, and trying to find the
        best way to write the cleanest and best code.
    </p>

    <ul class="home-header__media-list">
        <li class="home-header__media-item">
            <a
                target="_blank"
                href="https://twitter.com/FernandoVT10"
                class="home-header__media-link"
            >
                <svg><use href="/static/icons.svg#twitter"/></svg>
            </a>
        </li>

        <li class="home-header__media-item">
            <a
                target="_blank"
                href="https://github.com/FernandoVT10"
                class="home-header__media-link"
            >
                <svg><use href="/static/icons.svg#github"/></svg>
            </a>
        </li>

        <li class="home-header__media-item">
            <a
                target="_blank"
                href="https://github.com/FernandoVT10"
                class="home-header__media-link"
            >
                <svg><use href="/static/icons.svg#linkedin"/></svg>
            </a>
        </li>
    </ul>
</header>

<section class="page-wrapper">
    <section class="presentation-cards-section">
        <article class="presentation-card">
            <svg class="presentation-card__icon"><use href="/static/icons.svg#code"/></svg>
            <h2 class="presentation-card__title">Technologies</h2>
            <p class="presentation-card__description">
                I can use <span>React.js</span>, <span>Node.js</span>, <span>Typescript</span>,
                <span>HTML/CSS</span>, <span>SQL/NoSQL</span>, <span>Linux</span>,
                <span>Python</span>, <span>C</span> and more.
            </p>
        </article>
        <article class="presentation-card">
            <svg class="presentation-card__icon"><use href="/static/icons.svg#world"/></svg>
            <h2 class="presentation-card__title">Languages</h2>
            <p class="presentation-card__description">
                Spanish is my native language, and I have a B1 level of English.
            </p>
        </article>
        <article class="presentation-card">
            <svg class="presentation-card__icon"><use href="/static/icons.svg#stack"/></svg>
            <h2 class="presentation-card__title">Projects</h2>
            <p class="presentation-card__description">
                You can click <a href="/projects" class="presentation-card__link">here</a> to see my projects.
            </p>
        </article>
    </section>

    <h2 class="section-title">Posts from my blog</h3>

    <section class="blog-posts-cards">
        {{range .BlogPosts}}
        <article class="blog-post-card">
            <a href="/blog/posts/{{.Id}}">
                <div class="blog-post-card__cover">
                    <img
                        class="blog-post-card__cover-image"
                        src="{{.Cover}}"
                        alt="Blog Post Cover"
                    />
                </div>

                <h3 class="blog-post-card__title">{{.Title}}</h3>
            </a>
        </article>
        {{end}}
    </section>
</section>
{{end}}
